html,
body {
  height: 100%;
  margin: 0;
}

.basic-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation {
  height: 92%;
}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}